/* Este css esta siendo creado con la intencion de poder seruna estructura
 generica para la creacion del citio provisioriamente llamado "Brownie.cl" */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* Flex */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-separation {
    display: flex;
    justify-content: space-between;
}


/* Etiquetas */

input {
    border: 2px solid rgb(240, 238, 238);
    border-radius: 8px;
    margin: 7px;
    box-shadow: 5px 5px 8px rgba(211, 211, 211, 0.692);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    outline: none;
    width: 175px;
    height: 40px;
    text-align: center;
}

a {
    padding: 10px;
    font-size: small;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightcoral;
}

button:active {
    background-color: lightcoral;
}

button:hover {
    background-color: rgb(180, 75, 75);
}

button {
    border: 1px solid #3837374d;
    border-radius: 8px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 10px;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    outline: none;
    background-color: rgb(160, 57, 57);
    color: white;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    font-weight: 600;
}


/* CONTENEDORES */

.content {
    display: flex;
    justify-content: center;
}

.border-b {
    border-bottom: 1px solid grey;
}

.container-bg {
    width: 100%;
    height: 100%;
    background-color: white;
}

.link-u {
    width: 15%;
    margin-right: 5%;
}

.link-u img {
    width: 20px;
}

.h-logo {
    margin-left: 5%;
}

.card {
    background-color: white;
    border-radius: 8px;
    width: min-content;
}


/* clases de tamaño y espaciado*/

.m-0 {
    margin: 0px;
}

.p-0 {
    padding: 0px;
}

.p-card {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.p-b {
    50px
}

.h-100 {
    height: 100%;
}

.h-430 {
    height: 430px;
}

.w-300 {
    width: 300px;
}

.sd {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

.border {
    border: 1px solid red;
}

.logo {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.session-in {
    text-align: center;
}

@media screen and (min-width: 500px) {
    body {
        background: rgb(85, 39, 39);
        background: linear-gradient(0deg, rgba(85, 39, 39, 1) 1%, rgba(145, 65, 66, 1) 48%, rgba(190, 82, 83, 1) 100%);
    }
    .container-bg {
        width: 80%;
    }
}


}